<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Post Diagnosis Follow-Up</title>
    <link rel="stylesheet" href="/stylesheets/physician/update/update.css">
</head>
<body>
    <!-- Summary of Diagnosis with Dark Blue Borders-->
    <div id='diagnosis_summary'>
        <p>Date Created: <%=date %></p>
        <p>Category: <%=category %></p>
        <p>Latest PSA Index: <%=psa_index %></p>
        <p>Urination Frequency (1-5): <%=urine_freq %></p>
        <p>Urine Blood (0-3): <%=urine_blood %></p>
        <p>Family History: <%=family_history %></p>
        <p>Other Information: <%=other_info %></p>
    </div>
    <div id='prev_message'>
        <p>
        Message History<br>
        Ultimate goal: if no update received from patient, <br>
        then the text area for doctor should be in disabled mode
        </p>
    </div>
    <div id='record_update'>
        <form id='record_msg'method='POST'action=''>
            <textarea disabled></textarea>
            <button>Update</button>
        </form>
    </div>
    
</body>
</html>